{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body>
    <div class="cls1">
        <h1 class="myh1" >欢迎访问大工开发区主页</h1>
        <ul class="myul">
            <div class="dropdown">
                <a href="#" class="dropbtn">主页</a>
                <div class="dropdown-content">
                  <a href="#">链接 1</a>
                  <a href="#">链接 2</a>
                  <a href="#">链接 3</a>
                </div>
              </div>
              <div class="dropdown">
                <a href="#" class="dropbtn">新闻</a>
                <div class="dropdown-content">
                  <a href="#">链接 1</a>
                  <a href="#">链接 2</a>
                  <a href="#">链接 3</a>
                </div>
              </div>
              <div class="dropdown">
                <a href="#" class="dropbtn">联系</a>
                <div class="dropdown-content">
                  <a href="#">链接 1</a>
                  <a href="#">链接 2</a>
                  <a href="#">链接 3</a>
                </div>
              </div>
            <div class="dropdown">
                <a href="#" class="dropbtn">下拉菜单</a>
                <div class="dropdown-content">
                  <a href="#">链接 1</a>
                  <a href="#">链接 2</a>
                  <a href="#">链接 3</a>
                </div>
              </div>
              <div class="dropdown">
                <a href="#" class="dropbtn">下拉菜单</a>
                <div class="dropdown-content">
                  <a href="#">链接 1</a>
                  <a href="#">链接 2</a>
                  <a href="#">链接 3</a>
                </div>
              </div>
        </ul>
        
        <div class="h2content">
            <a href="#大工图标"><img src="{% static '图片/Saved Pictures/红色.png' %}" alt="大工图标" width="160px" height="170px" align="left"></a>
            <h2>h2标题</h2>
            <ul>
                <li>疫情动态</li>
                <li>开学通知</li>
                <li>开学通知</li>
            </ul>
            
        </div>
        <div class="h3content">
            <a href="#大工图标"><img src="{% static '图片/Saved Pictures/橙色.png' %}" alt="大工图标" width="160px" height="170px" align="left"></a>
            <h2>h3标题</h2>
            <ul>
                <li>疫情动态</li>
                <li>开学通知</li>
                <li>开学通知</li>
            </ul>
        </div>
        <div class="h4content">
            <a href="#大工图标"><img src="{% static '图片/Saved Pictures/紫色.png' %}" alt="大工图标" width="160px" height="170px" align="left"></a>
            <h2>h4标题</h2>
            <ul>
                <li>疫情动态</li>
                <li>开学通知</li>
                <li>开学通知</li>
            </ul>
        </div>
        <div class="h5content">
            <a href="#大工图标"><img src="{% static '图片/Saved Pictures/蓝色.png' %}" alt="大工图标" width="160px" height="170px" align="left"></a>
            <h2>h5标题</h2>
            <ul>
                <li>疫情动态</li>
                <li>开学通知</li>
                <li>开学通知</li>
            </ul>
        </div>
        <div class="h6content">
            <a href="#大工图标"><img src="{% static '图片/Saved Pictures/黄色.png' %}" alt="大工图标" width="160px" height="170px" align="left"></a>
            <h2>h6标题</h2>
            <ul>
                <li>疫情动态</li>
                <li>开学通知</li>
                <li>开学通知</li>
            </ul>
        </div>
        <div class="h7content">
            <a href="#大工图标"><img src="{% static '图片/Saved Pictures/l绿色.png' %}" alt="大工图标" width="160px" height="170px" align="left" ></a>
            <h2>h7标题</h2>
            <ul>
                <li>疫情动态</li>
                <li>开学通知</li>
                <li>开学通知</li>
            </ul>
        </div>
    </div>
    <div>
        <a href="https://mail.dlut.edu.cn" target="_blank" class="c1">邮箱</a>
        <br>
        <a href="http://teach.dlut.edu.cn" target="_blank" class="c2">教务处</a>
        <br>
        <a href="https://webvpn.dlut.edu.cn/login" target="_blank" class="c3">校园vpn</a>
        <br>
        <a href="http://eda.dlut.edu.cn/index.jsp" target="_blank" class="c4">开发区主页</a>
        <br>
        <a href="http://news.dlut.edu.cn/xw/xxyw.htm" target="_blank" class="c5">学校新闻</a>
        <br>
        <a href="http://ssdut.dlut.edu.cn/info/1122/15134.htm" target="_blank" class="c6">联系方式</a>
        <br>
        <a href="#1913王玉宁"class="c7">关于制作者</a>
    </div> 
    <div id="box">
        <div class="chars">S</div>
        <div class="chars">S</div>
        <div class="chars">D</div>
        <div class="chars">U</div>
        <div class="chars">T</div>
        <div class="ll S1"></div>
        <div class="ll S2"></div>
        <div class="ll D"></div>
        <div class="ll U"></div>
        <div class="ll T"></div>
        <div class="pcov"></div>
    </div>
    <div class="mytable">
        王玉宁201992169
    </div>  

</body>
</html>